<h2>Este es tu perfil</h2>



{{#if isUserArtist }}

  <label for="genre">Género musical</label>
  <select name="genre">
    <option value="pop">Pop</option>
    <option value="rock">Rock</option>
  </select>

{{/if}}