<h2>Este es tu perfil</h2>
<h5>Nombre:{{username}} </h5>

<h5>Emai:{{details.username}} </h5>
<form action="">
  
  <br />
  
  <label>
    Teléfono
    <input type="tel" name="contact" placeholder="Teléfono" />
  </label>
  <br />

  <br />
  {{#if isUserArtist}}
    <label for=""></label>
    <label for="genre">Género musical</label>
    <select name="genre">
      <option value="pop">Pop</option>
      <option value="rock">Rock</option>
    </select>
    <label for="">Descripcion</label>
    <br />
    <textarea name="description" rows="10" cols="40">Escribe aquí tu descripción</textarea>
    <br />
    <label>
      Adjuntar
      <input type="file" name="imageShow" placeholder="Adjunta tu trabajo" />
    </label>
  {{/if}}

  <br />
  <button type="submit">Enviar informacion</button>
</form>