<header>
  <h1>🎸🎷Bienvenido a JAM 🎷🎸 </h1>
  <p>🎵Tu biblioteca de musicos independientes🎶 🎶</p>
</header>
  <div class="row">

    <div class="col-sm-3 mb-3 mb-sm-3">
      <div class="card">
        <img src="../images/rock.svg" class="card-img-top" alt="Rock" />
        <div class="card-body">
          <h5 class="card-title">Rock ´n Roll</h5>
          <p class="card-text">Para los fanaticos del metal</p>
          <a href="/groups/list/rock" class="btn btn-primary">Ver mas</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3 mb-3 mb-sm-3">
      <div class="card">
        <img src="../images/pop.svg" class="card-img-top" alt="POP" />
        <div class="card-body">
          <h5 class="card-title">POP</h5>
          <p class="card-text">Sin el POP la vida es un error</p>
          <a href="/groups/list/pop" class="btn btn-primary">Ver mas</a>
        </div>
      </div>
    </div>

     <div class="col-sm-3 mb-3 mb-sm-3">
      <div class="card">
        <img src="../images/flamenco.svg" class="card-img-top" alt="Flamenco" />
        <div class="card-body">
          <h5 class="card-title">Flamenco</h5>
          <p class="card-text">Ole, ole ... y Olé!</p>
          <a href="/groups/list/flamenco" class="btn btn-primary">Ver mas</a>
        </div>
      </div>
    </div>

     <div class="col-sm-3 mb-3 mb-sm-3">
      <div class="card">
        <img src="../images/salsa.svg" class="card-img-top" alt="Salsa" />
        <div class="card-body">
          <h5 class="card-title">Salsa</h5>
          <p class="card-text">Camina y llegaras lejos, baila y seras libre</p>
          <a href="/groups/list/salsa" class="btn btn-primary">Ver mas</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3 mb-3 mb-sm-3">
      <div class="card">
        <img src="../images/dj.svg" class="card-img-top" alt="Salsa" />
        <div class="card-body">
          <h5 class="card-title">Salsa</h5>
          <p class="card-text">De aquí no nos vamos hasta que no salga el sol.</p>
          <a href="/groups/list/dj" class="btn btn-primary">Ver mas</a>
        </div>
      </div>
    </div>
    
  </div>

  <a href="/groups/list/salsa">
    <button>Salsa</button>
  </a>

  <a href="/groups/list/rock">
    <button>Rock</button>
  </a>

  <a href="/groups/list/pop">
    <button>Pop</button>
  </a>

  <a href="/groups/list/dj">
    <button>Dj's</button>
  </a>

  <a href="/groups/list/flamenco">
    <button>Flamenco</button>
  </a>

  <a href="/groups/list/mariachi">
    <button>Mariachi</button>
  </a>

