<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

 <body>

<nav>
  <a href="/">Inicio</a>
  <a href="/profile/signup">Registrate</a>
  <a href="/profile/login">Accede a tu cuenta</a>
  <a href="/profile/logout">Cerrar sesión</a>
  <a href="/private-profile">Ir a mi perfil</a>
</nav>
    {{{body}}}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/js/script.js"></script>
  </body>

</html>