<h2>
    HOLA comentario </h2>

<form action="/comments" class="form-comments" method="POST">


    <br />

    <label>
     Comentario:<br>
<textarea name="comentarios" rows="7" cols="40"></textarea> 
<br>
<input type="submit" value="Enviar">
    <br />



   
</form>