<section class="col-8 container shadow border-0 justify-content-center bg-light p-3 border secciones">


<h2>Editar comentario</h2>

<h1>{{commentToUpdate.artistUser.username}}</h1>

<div id="form">
<form action="/comments/{{commentToUpdate._id}}/edit" method="POST">
{{!-- <form action="/comments/{{commentToUpdate._id}}" method="POST"> --}}

  <label for="comment" class="form-label">Comentario:</label>
  <input type="text" name="comment" value="{{commentToUpdate.comment}}" class="form-control" />
  <br>

  <button class="btn btn-secondary">Enviar</button>

</form>

</div>