<h2>Registro de usuario</h2>




<form action="/profile/signup" method="POST" class="col-3 bg-light p-3 border" class="row g-3 needs-validation"
  novalidate>

  <div class="col-md-8">
    <label for="validationCustom01" class="form-label">Nombre de usuario</label>
    <input type="text" name="username" class="form-control" id="validationCustom01" value="" required>
    <div class="valid-feedback">
    </div>
  </div>

  <div class="col-md-8">
    <label for="validationCustomUsername" class="form-label">Email</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input type="email" name="email" class="form-control" id="validationCustomUsername"
        aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <label for="validationCustom03" class="form-label">Contraseña</label>
    <input type="password" name="password" class="form-control" id="validationCustom03" required>
    <div class="invalid-feedback">
    </div>
  </div>
  <div class="col-md-8">
    <label for="validationCustom04" class="form-label">Genero</label>
    <select name="role" class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Elige un genero</option>
      <option value="particular">Particular</option>
      <option value="artista">Artista</option>

    </select>
    <div class="invalid-feedback">

    </div>
  </div>

  <div class="col-12">
    {{#if errorMessage}}
    {{errorMessage}}
    {{/if}}
    <button class="btn btn-primary"  type="submit">Submit form</button>
  </div>
</form>









