body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* a {

  color: #00b7ff;
} */

/* h1 {
  color: 15px;
}

form {
  color: orangered;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px;
  border-color: transparent;
  box-shadow: 4px 5px 4px #310202;
  background-image: url("../images/musicafondo.jpg");
}

#form h2 {
  text-align: center;
}

#fondoregistro {
  background-image: url("../images/musicafondo.jpg");
  background-repeat: no-repeat;
} */

/* .btn-success {
  margin-top: 28;
  margin-left: 150px;
}

#form label {
  display: block;
  margin-left: 15px;
} */
/* #form input {
  display: inline-block;
  margin-left: 10px;
  color: black;
} */

/* form #dos {
  display: inline-block;
  margin-left: 50px;
} */

/* form #uno {
  display: inline-block;
  margin-left: 35px;
} */
/* select option{
  color: black;
} */
/* .error{
  color: white;
} */

.card-img-top{
  height: 150px;
  max-width: auto;
 
}