/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

/* a {

  color: #00b7ff;
} */

/* h1 {
  color: 15px;
}

form {
  color: orangered;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px;
  border-color: transparent;
  box-shadow: 4px 5px 4px #310202;
  background-image: url("../images/musicafondo.jpg");
}

#form h2 {
  text-align: center;
}

#fondoregistro {
  background-image: url("../images/musicafondo.jpg");
  background-repeat: no-repeat;
} */

/* .btn-success {
  margin-top: 28;
  margin-left: 150px;
}

#form label {
  display: block;
  margin-left: 15px;
} */
/* #form input {
  display: inline-block;
  margin-left: 10px;
  color: black;
} */

/* form #dos {
  display: inline-block;
  margin-left: 50px;
} */

/* form #uno {
  display: inline-block;
  margin-left: 35px;
} */
/* select option{
  color: black;
} */
/* .error{
  color: white;
} */

.hero {
  min-height: 75vh;
  background: #00000061 url(https://img.freepik.com/free-photo/melody-music-sound-key-artistic-icon-sign-concept_53876-124306.jpg?w=996&t=st=1677222862~exp=1677223462~hmac=e9478f1b09c3b57a20db3c88714d8991ca3911070d298610ecd9a6d031c113eb) center center no-repeat;
  background-size: cover;
  position: relative;
  box-shadow:0px 5px 5px rgba(13, 3, 13, 0.125);
  margin-bottom: 3em;
 
}
/* .hero:before {
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
} */
.hero-content {
  position: absolute;
  bottom: 15px;

}
.card-img-top{
  height: 150px;
  max-width: auto;
 
}

.divPerfil {
  margin: 100px;
}

.navbar{
  box-shadow:0px 5px 5px rgba(13, 3, 3, 0.125);

}
.textshadow{
  text-shadow: 0px 5px 5px rgba(13, 3, 13, 0.233);
}

.secciones{
  margin-top: 6rem;
}

.fav {
  background-color:grey;
  color: white;
  text-align: center;
}
