<h2 >Listado de grupos por género</h2>
<section class="col-8  container justify-content-center shadow border-0 bg-light p-3 border secciones">

<div class="row container">

{{#each eachArtist}}
<h4>{{this.username}}</h4>
<br>
<img src="{{this.imageProfile}}" alt="Image" width="200px">



<a href="/groups/{{this._id}}/details">
    <button>Ver más</button></a>
<br>


          <form action="/favorites/{{this._id}}" method="post">

    <button>Añadir a favoritos</button>
</form>

        </div>
      </div>
    </div>

{{/each}}